@media (max-width: 720px) {
  .content * {
    word-break: normal;
    overflow-wrap: normal;
  }
  .content table {
    display: block;
    width: 100%!important;
  }
}

.content table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px
    solid #e0e0e0;
    float: none!important;
    border-collapse: collapse;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
